alembic
autopep8
certifi
charset-normalizer
click
Flask
Flask-Migrate
Flask-REST-JSONAPI
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-jsonapi
numpy
packaging
pandas
psycopg2-binary
pycodestyle
pyodbc
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
tomli
typing_extensions
urllib3
Werkzeug
zipp
